<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title><%= title %></title>
<head>
    <%- include ('partials/head.html') %>
<!--<style>
    body {
        font-family: 'Spicy Rice', cursive;
    }
</style>
-->
</head>

<body>
    <!-- <h1>Hola Mundo <%= new Date() %> </h1> -->
    <%- include ('partials/navigation.html') %>
    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/img/fl2.png" class="animate__bounceIn" alt="Flor de Lis">
            </div>
    
        </header>
        
    </div>

    <!-- Secction One  -->

    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>The most suscribed Youtuber</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae porro corporis vero quas? Illo quae
                    impedit explicabo veritatis nihil distinctio odio, accusamus consectetur dolorem recusandae iusto
                    nostrum animi qui unde.</p>
    
            </div>
        </div>
    
    
    </div>

    <%- include ('partials/footer.html') %>

</body>



</html>